{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": -33.4,
        "location_name": "D-Home",
        "longitude": -70.6,
        "time_zone": "America/Santiago",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}